.main{
    width: 100%;
    height: 100%;
    background-color: rgb(28, 41, 66);
    display: inline-block;
}

.aboutMeT{
    width: 14%;
    height: 5%;
    color: white;
    font-family: monospace;
    position: relative;
    left: 10%;
    top: 5%;
    text-align: center;
    vertical-align: center;
    font-weight: bolder;
    font-size: 2.85vw;
    user-select: none;
    display: inline-flex;
    align-items: center;
    margin: none;
    padding: none;
    transition: color 0.5s ease-in-out;
}

.aboutMeT:hover {
    color: rgb(25, 85, 150);
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.carasoule{
    width: 180%;
    height: 12%;
    background-color: rgb(66, 121, 180);
    position: relative;
    top: 79%;
    left: 0%;
    animation: scroll 2 linear infinite;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.slideTrack {
    width: 50%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    animation: scroll infinite linear 8s;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: fit-content;
}

.slideTrack *{
    width: fit-content;
    height: 100%;
    font-size: 1.2em;
    margin-left: 15px;
    margin-right: 15px;
    padding: auto;
    text-align: center;
    vertical-align: center;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: fit-content;
}


/* ABOUT WHO I AM PART */
.info{
    width: 60%;
    height: 75%;
    position: relative;
    top: -5%;
    left: 40%;
    background-color: rgb(66, 121, 180);
    display: block;
    border-radius: 25px 0px 0px 0px;
    font-size: 1.8em;
    line-height: 1;
}

.info h1 {
    width: 100%;
    height: 12%;
    text-align: center;
    font-family: monospace;
    font-size: 1.5em;
    vertical-align: top;
    user-select: none;
}

.infoH{
    position: relative;
    width: 100%;
    height: 80;
    padding: 5px;
    user-select: none;
    text-align: left;
    top: 4%;
}

.infoH a {
    color: white;
    user-select: none;
    margin-left: 3px;
    font-size: 1.5em;
}

.infoH a:hover {
    color: white;
}

@keyframes rainbow {
    0%{
        color: red
    }
    16%{
        color: orange
    }
    32%{
        color: yellow
    }
    48%{
        color: green
    }
    64%{
        color: blue
    }
    80%{
        color: purple
    }
    100%{
        color: red
    }
}

.infoH .JOAT{
    animation: rainbow infinite 8s;
}

/* BIRTHDAY CSS PART */
.BD {
    width: 25%;
    height: 10%;
    background-color: rgb(66, 121, 180);
    position: relative;
    left: 15%;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    user-select: none;
    border-radius: 25px;
}

.BD *{
    height: 25%;
}